*,div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.wrapper, .clear {clear: both;}
.wrapper:before, .wrapper:after, .clear:before,.clear:after {content: " "; display: table; }
.wrapper:after, .clear:after {clear: both;}
.wrapper, .clear {*zoom: 1;}
a {
	text-decoration: none;
}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 0 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 1200px;
		padding: 0 0;
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo , h1.logo {
	width: 200px;
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 200px;
		margin: 20px auto;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 100%;
	display: block;

	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
.banner {
	width: 100%;
	line-height: 0;
	img {
		width: 100%;
	}
}
section.testimonials {
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28406e+0,018bcc+50,28406e+100 */
	background: rgb(40,64,110); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(40,64,110,1) 0%, rgba(1,139,204,1) 50%, rgba(40,64,110,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(40,64,110,1) 0%,rgba(1,139,204,1) 50%,rgba(40,64,110,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(40,64,110,1) 0%,rgba(1,139,204,1) 50%,rgba(40,64,110,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28406e', endColorstr='#28406e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 20px 0;
	.flexslider-container {
		width: 90%;
		margin: 0 auto;
		color: #fff;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			width: 80%;
		}
		@media screen and (min-width: $deskwidth) {
			width: 60%;
		}
	}
}
.site-footer {
	width: 100%;
	clear: both;
	background-color: $color-grey;
	padding: 40px 0;
	text-align: center;
	color: #fff;
	font-size: 12px;
	a {
		color: #fff;
	}
}