.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.default-temp {
	padding-top: 50px;
	padding-bottom: 50px;
	&.nobanner {
		padding-top: 0;
	}
}
.text-center {
	text-align: center;
}
a {
	@include transition(all ease-out .3s);
}
section.home-boxes {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 40px 0;
	@media screen and (min-width: $tabwidth) {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	.box {
		width: 90%;
		@include transition(all ease .4s);
		padding: 5%;
		margin: 20px auto;
		@media screen and (min-width: $tabwidth) {
			flex-basis: 27%;
			padding: 2%;
			margin: auto;
		}
		@media screen and (min-width: $deskwidth) {
			
		}
		.icon {
			width: 40%;
			margin: 20px auto;
			@media screen and (min-width: $tabwidth) {
				width: 48%;
			}
			@media screen and (min-width: $deskwidth) {
				width: 120px;
			}
			img {
				width: 100%;
			}
		}
		.desc {
			width: 100%;
			@media screen and (min-width: $tabwidth) {
		
			}
			@media screen and (min-width: $deskwidth) {
				
			}
		}
		a {
			color: $color-grey;


		}
		&:hover {
			-webkit-box-shadow: 0px 0px 27px 6px rgba(0,0,0,0.1);
			-moz-box-shadow: 0px 0px 27px 6px rgba(0,0,0,0.1);
			box-shadow: 0px 0px 27px 6px rgba(0,0,0,0.1);
		}
	}
}
.section_one,
.section_three {
	.column {
		font-weight: 300;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
		}
	}
	.column1 {
		position: relative;
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		background-color: #757267;
		@media screen and (min-width: $tabwidth) {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
		.textwrap {
			padding: 15% 10%;
			color: #FFF;
			font-size: 22px;
			font-weight: 500;
			font-style: italic;
			text-align: center;
			line-height: 1.3;
			@media screen and (min-width: $tabwidth) {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				padding: 10% 15%;
				font-size: 30px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 35px;
			}
			&.darkbg {
				padding: 5% 15%;
				background: rgba(6,13,33,0.8);
			}
		}
	}
	.column2 {
		background: $color-blue;
		color: #FFF;
		@media screen and (min-width: $tabwidth) {
			float: right;
		}
		.textwrap {
			padding: 10% 10% 8%;
		}
		p {
			margin-top: 0;
		}
		h2,h3 {
			margin: 0 0 5px;
			font-size: 22px;
			font-weight: 700;
			text-transform: uppercase;
		}
		ul {
			margin: 10px 0 0 20px;
			padding: 0 0;
			list-style: none;
			li {
				position: relative;
				margin-bottom: 22px;
			}
		}
	}
	.column2.bullets-normal {
		ul {
			margin-bottom: 30px;
		}
		ul li {
			padding-left: 15px;
			margin-bottom: 10px;
			&:before {
				content:"";
				display: block;
				width: 6px;
				height: 6px;
				border-radius: 100px;
				background: #FFF;
				position: absolute;
				left: 0;
				top: 8px;
			}
		}
	}
}

.section_one {
	position: relative;
	height: 100%;
	.column2 {
		ul > li strong {
			min-width: 110px;
			display: inline-block;
			text-align: left;
			background: #FFF;
			color: $color-blue;
			padding: 2px 10px;
			font-weight: 500;
			font-style: italic;
			clear: both;
			margin-bottom: 5px;
		}
	}
}
.section_two {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section_three {
	position: relative;
	height: 100%;
	.column {
		@media screen and (min-width: $tabwidth) {
			width: 50%;
		}
	}
	.column1 {
		.textwrap {
			padding: 5% 15%;
			background: rgba(6,13,33,0.8);
		}
	}
	.column2 {
		ul li {
			padding-left: 15px;
			&:before {
				content:"";
				display: block;
				width: 6px;
				height: 6px;
				border-radius: 100px;
				background: #FFF;
				position: absolute;
				left: 0;
				top: 8px;
			}
		}
	}
}


.section-title {
	margin: 0 0 70px;
	text-align: center;
	color: $color-blue;
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 50px;
	border-bottom: 2px solid $color-blue;
}
.timelines {
	position: relative;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	.info-wrapper {
		width: 100%;
		float: left;
		margin-top: 0;
		padding-bottom: 50px;
		position: relative;
		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 50%;
			height: 50px;
			border-right: 3px solid $color-blue;
		}
		.arrow-down {
			display: block;
			width: 100%;
			height: 50px;
			position: absolute;
			bottom: 0;
			left: 0;
			text-align: center;
			&:before {
				content: "";
				display: inline-block;
				width: 0; 
				height: 0;
				border-top: 18px solid $color-blue;
				border-left: 16px solid transparent; 
				border-right: 16px solid transparent;
				position: relative;
				left: -2px;
				top: -2px;
			}
		}
		@media screen and (min-width: $midwidth) {
			padding-bottom: 0;
			.arrow-down, &:after {
				display: none;
			}
		}
		&.last {
			padding-bottom: 0;
		}

		&.inforow7 {
			@media screen and (min-width: $midwidth) {
				margin-top: -16%;
			}
		}
		&.inforow6 {
			@media screen and (min-width: $midwidth) {
				margin-top: -10%;
			}
		}
		&.inforow5 {
			@media screen and (min-width: $midwidth) {
				margin-top: -30%;
			}
		}
		&.first {
			margin-top: 0;
		}
	}
	.timeline-image {
		width: 100%;
		float: left;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.info-outer {
		position: relative;
		z-index: 10;
		@media screen and (min-width: $midwidth) {
			&.odd,
			&.even {
				width: 50%;
				padding-top: 25px;
			}
			&.odd {
				float: left;
				border-right: 3px solid $color-blue;
				right: -1px;
				
			}
			&.even {
				float: right;
				border-left: 3px solid $color-blue;
				left: -2px;
			}
		}
	}

	.info-wrapper.first .info-outer {
		@media screen and (min-width: $midwidth) {
			padding-top: 0;
			&:before {
				content: "";
				display: block;
				width: 8px;
				height: 45%;
				position: absolute;
				top: 0;
				right: -5px;
				background: #FFF;
			}
			&:after {
				content: "";
				display: block;
				width: 20px;
				height: 20px;
				background: $color-blue;
				border-radius: 200px;
				position: absolute;
				top: 43%;
				right: -11px;
			}
		}
	}

	.info-wrapper.last .info-outer {
		@media screen and (min-width: $midwidth) {
			&:before {
				content: "";
				display: block;
				width: 8px;
				height: 40%;
				position: absolute;
				bottom: 0;
				right: -5px;
				background: #FFF;
			}
			&:after {
				content: "";
				display: block;
				width: 20px;
				height: 20px;
				background: $color-blue;
				border-radius: 200px;
				position: absolute;
				bottom: 36%;
				right: -11px;
			}
		}
	}

	.info-outer.centered {
		@media screen and (min-width: $midwidth) {
			padding-top: 25px;
			&:before {
				content: "";
				display: block;
				width: 50%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 1px;
				border-right: 3px solid $color-blue;
			}
		}
	}

	.info {
		position: relative;
		z-index: 5;
		@media screen and (min-width: $midwidth) {
			width: 80%;
		}
	}
	.details {
		position: relative;
		background: $color-blue;
		color: #FFF;
	}
	.date {
		box-sizing: border-box;
		background: #2d87c2;
		font-size: 23px;
		font-weight: 500;
		font-style: italic;
		text-align: center;
		padding: 0 5px;
		display: inline-block;
		float: left;
		letter-spacing: 2px;
	}
	.description {
		box-sizing: border-box;
		padding: 20px 20px;
		position: relative;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.5;
		z-index: 10;
	}

	.info.odd,
	.info.even {
		.description {
			@include flexbox();
			@include flexbox-align-items(center);
			min-height: 135px;
			@media screen and (min-width: $midwidth) {
				min-height: 160px;
			}
		}
	}

	.info.odd {
		@media screen and (min-width: $midwidth) {
			float: left;
		}
		.date {
			writing-mode:tb-rl;
			-sand-transform: rotate(180deg);
			-webkit-transform:rotate(180deg);
			-moz-transform:rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform:rotate(180deg);
			transform: rotate(180deg);
			white-space:nowrap;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
		.description {
			padding: 20px 20px 20px 70px;
			&:after {
				content: '';
				display: inline-block;
				width: 0;
				height: 0;
				@media screen and (min-width: $midwidth) {
					border-left: 30px solid $color-blue;
					border-top: 25px solid transparent;
					border-bottom: 25px solid transparent;
					position: absolute;
					right: -28px;
				}
			}
		}
	}
	.info.even {
		@media screen and (min-width: $midwidth) {
			float: right;
			margin-top: -10%;
		}
		.date {
			writing-mode:tb-rl;
			-sand-transform: rotate(0deg);
			-webkit-transform:rotate(0deg);
			-moz-transform:rotate(0deg);
			-o-transform: rotate(0deg);
			-ms-transform:rotate(0deg);
			transform: rotate(0deg);
			white-space:nowrap;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
		}
		.description {
			padding: 20px 70px 20px 20px;
			&:after {
				content: '';
				display: inline-block;
				width: 0;
				height: 0;
				@media screen and (min-width: $midwidth) {
					border-right: 30px solid $color-blue;
					border-top: 25px solid transparent;
					border-bottom: 25px solid transparent;
					position: absolute;
					left: -28px;
				}
			}
		}
	}
	.aligned-center {
		.date  {
			width: 100%;
			text-align: center;
			padding: 3px 5px;
		}
		.info {
			text-align: center;
			@media screen and (min-width: $midwidth) {
				width: 50%;
			}
		}
	}
	.info.centered {
		@media screen and (min-width: $midwidth) {
			margin: 0 auto;
		}
	}

}

.section-main-content {
	position: relative;
	.copydiv, .formdiv {
		width: 100%;
		@media screen and (min-width: $midwidth) {
			width: 50%;
		}
		.inside {
			box-sizing: border-box;
			padding: 6% 10% 8%;
			@media screen and (min-width: $midwidth) {
				padding: 10% 10% 8%;
			}
		}
	}
	.formdiv {
		background: #FFF;
		@media screen and (min-width: $midwidth) {
			float: right;
		}
		&.no-copy {
			max-width: 800px;
			width: 100%;
			margin: 0 auto;
			float: none;
		}
		&.left {
			@media screen and (min-width: $midwidth) {
				float: left;
			}
		}
	}
	.copydiv {
		background: $color-blue;
		color: #FFF;
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
		@media screen and (min-width: $midwidth) {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
		.inside {
			padding: 10% 15%;
			font-size: 22px;
			font-weight: 500;
    		font-style: italic;
			text-align: center;
			line-height: 1.3;
			@media screen and (min-width: $tabwidth) {
				padding: 5% 15%;
				font-size: 30px;
			}
		}
	}
	.copydiv-right {
		background: $color-blue;
		color: #FFF;
		@media screen and (min-width: $midwidth) {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 50%;
		}
		.inside {
			padding: 10% 15%;
			font-size: 22px;
			font-weight: 500;
    		font-style: italic;
			text-align: center;
			line-height: 1.3;
			@media screen and (min-width: $tabwidth) {
				padding: 5% 15%;
				font-size: 30px;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 35px;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.formtitle {
		text-transform: uppercase;
		margin: 0 0 20px;
		font-size: 22px;
	}
}

h1.entry-title {
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}

.gform_wrapper select {
	height: 36px;
	line-height: 36px;
	margin: 0 0 5px!important;
}
input.button, .gform_wrapper .gform_footer input[type=submit] {
	background: $color-blue;
	box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;
	border: none;
	text-shadow: none;
	color: #FFF;
	font-weight: 600;
	text-transform: uppercase;
	padding: 12px 25px;
	@include transition(all ease-out .3s);
	&:hover {
		background: $color-dark-blue;
	}
}
.site-content .gform_wrapper .gform_footer {
	margin: 10px 0 0;
	padding: 15px 0 0;

}
.content-centered {
	text-align: center;
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
	color: $color-light-grey;
	font-weight: 300;
	h1,h2,h3 {
		font-size: 25px;
		line-height: 1.4;
		margin: 0 0 10px;
	}
	h1,h2,h3,h4,h5,h6 {
		font-weight: 700;
		color: $color-blue-text;
	}
}

.steps-wrapper {
	padding-top: 30px;
	padding-bottom: 25px;
	margin-left: -25px;
	margin-right: -25px;
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-align-content(center);
		@include flexbox-justify(center);
	}
	.step {
		cursor: help;
		box-sizing: border-box;
		font-size: 15px;
		padding: 25px;
		border-radius: 10px;
		@include transition(all ease-out .3s);
		@media screen and (min-width: $tabwidth) {
			width: 25%;
			float: left;

		}
	}
	.title {
		color: $color-blue-text;
		margin: 0 0;
		font-weight: 600;
		font-size: 15px;
	}
	.number {
		text-align: center;
		@include transition(all ease-out .3s);
	}
	.number span {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
		font-size: 110px;
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
		text-shadow: -1px -1px 0 $color-blue-text,  1px -1px 0 $color-blue-text, -1px 1px 0 $color-blue-text, 1px 1px 0 $color-blue-text;
		color: #FFF;
		@include transition(all ease-out .3s);
	}
	.desc {
		color: $color-light-grey;
		font-weight: 300;
		font-size: 14px;
		@include transition(all ease-out .3s);
	}
}
body.is_chrome,
body.is_safari {
	.steps-wrapper .number span {
		-webkit-text-fill-color: white;
		-webkit-text-stroke: 2px $color-blue-text;
		text-shadow: none;
	}
}
.steps-wrapper .step:hover {
	@include box-shadow( 0px 0px 15px 0px rgba(35,134,184,.75) );
	.number span {
		-webkit-text-fill-color: $color-blue-text;
	}
}
.default-temp {
	.entry-header {
		text-align: center;
		color: $color-blue-text;
	}
	.entry-header h1 {
		font-size: 25px;
		color: $color-blue-text;
		font-weight: 700;
	}
	.entry-content {
		color: $color-light-grey;
		font-weight: 300;
		h1,h2,h3,h4,h5,h6 {
			color: $color-blue-text;
			font-weight: 700;
			margin: 15px 0 10px;
			line-height: 1.4;
		}
	}
	
}

.services-wrapper {
	margin-top: 40px;
	margin-left: -15px;
	margin-right: -15px;
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-align-content(center);
		@include flexbox-justify(center);
	}
	.service {
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
		height: auto;
		margin-bottom: 35px;
		cursor: pointer;
		overflow: hidden;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			float: left;
		}
		@media screen and (min-width: $midwidth) {
			width: 33.333%;
			float: left;
		}
		img {
			width: 100%;
			height: auto;
			display: none;
			-moz-transition: -moz-transform 0.4s ease-out;
			-webkit-transition: -webkit-transform 0.4s ease-out;
			-o-transition: -o-transform 0.4s ease-out;
			transition: 0.4s ease-out;
		}
	}
	.inner {
		position: relative;
		overflow: hidden;
		height: 240px;
		@media screen and (min-width: $tabwidth) {
			height: 250px;
		}
		@media screen and (min-width: $deskwidth) {
			height: 300px;
		}
	}
	.bgimage {
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		-moz-transition: -moz-transform 0.4s ease-out;
		-webkit-transition: -webkit-transform 0.4s ease-out;
		-o-transition: -o-transform 0.4s ease-out;
		transition: 0.4s ease-out;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.service-title {
		display: block;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 5;
		background: rgba(3,69,130,0.7);
		color: #FFF;
		text-align: center;
		transition: all ease-out .3s;
		padding: 10px 15px;
		font-weight: 600;
		font-size: 18px;
		text-transform: uppercase;
		@media screen and (min-width: $tabwidth) {
			font-size: 20px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 25px;
		}
	}
	.boxlink:hover {
		.service-title {
			background: $color-blue;
		}
		img, .bgimage {
			-moz-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
}
.error404 .full-content-area {
	padding-bottom: 60px;
}
.page-link-list {
	text-align: center;
}
.linklist {
	display: inline-block;
	margin: 0 0;
	padding: 0 0;
	list-style: none;
	text-align: left;
	li {
		position: relative;
		padding-left: 13px;
		&:before {
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			background: $color-blue;
			border-radius: 200px;
			position: absolute;
			top: 9px;
			left: 0;
		}
	}
}

.flex-container {
	position: relative;
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-align-content(center);
		@include flexbox-justify(left);
	}
}

.news-list {
	margin-left: -15px;
	margin-right: -15px;
}

.news-list .excerpt {
	padding: 0 13px;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 26px;
	@media screen and (min-width: $tabwidth) {
		width: 50%;
	}
	@media screen and (min-width: $midwidth) {
		width: 33.333333%;
	}
	.inside {
		padding: 15px;
		position: relative;
		box-sizing: border-box;
		height: auto;
		border: 1px solid $color-subtle-grey;
		@media screen and (min-width: $tabwidth) {
			height: 100%;
		}
	}
	.post-title {
		margin: 0 0 12px;
		font-weight: 600;
		font-size: 20px;
		line-height: 1.3;
		color: #515151;
	}
	.post-link {
		margin-top: 10px;
	}
	.post-link a {
		text-decoration: none;
		color: $color-blue-text;
		font-size: 14px;
		@include transition(all ease-out .3s);
		span {
			position: relative;
			display: inline-block;
			margin-left: 1px;
			@include transition(all ease-out .3s);
		}
		&:hover {
			opacity: 0.6;
		}
		&:hover span {
			margin-left: 5px;
		}
	}
}

.articles-wrapper {
	margin-top: 55px;
	margin-bottom: 40px;
	.site-main {
		@media screen and (min-width: $tabwidth) {
			width: 70%;
			float: left;
		}
	}
	#secondary {
		@media screen and (min-width: $tabwidth) {
			width: 25%;
			float: right;
		}
		ul {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
			ul {
				margin-left: 15px;
			}
		}
		li {
			position: relative;
			padding-left: 15px;
			margin-bottom: 5px;
			&:before {
				content:"";
				display: block;
				width: 6px;
				height: 6px;
				background: $color-blue;
				position: absolute;
				left: 0;
				top: 10px;
			}
		}
		a {
			color: $color-blue;
			text-decoration: none;
			@include transition(all ease-out .3s);
		}
		.widget-title {
			margin: 0 0 10px;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	.post-excerpt {
		color: $color-light-grey;
		font-weight: 300;
		font-size: 14px;
		position: relative;
		z-index: 5;
	}
}

.single-post .entry-title {
	color: $color-blue;
	margin-top: 0;
}

.single-post .entry-content {
	color: $color-grey;
	font-weight: 300;
}

#pagination {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: -2px;
	a,span {
		display: inline-block;
		border: 1px solid $color-blue;
		padding: 6px 12px;
		margin-left: 1px;
		margin-right: 1px;
		font-size: 14px;
		@include transition(all ease-out .3s);
	}
	a {
		color: $color-blue;
	}
	a:hover {
		opacity: 0.8;
	}
	.current {
		color: #FFF;
		background: $color-blue;
		border-color: $color-blue;
	}
}

.team-page {
	margin-top: 30px;
	margin-bottom: 50px;
}

.team-list {
	.row {
		margin-left: -15px;
		margin-right: -15px;
	}
	.team {
		margin: 15px 0;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			float: left;
		}
		@media screen and (min-width: $midwidth) {
			width: 25%;
		}
	}
	.inside {
		padding: 0 15px;
	}
	.info,
	.photo,
	.photo a,
	.photo img {
		display: block;
		width: 100%;
		float: left;
	}
	.photo {
		// border: 1px solid $color-subtle-grey;
		margin-bottom: 10px;
	}
	img {
		height: auto;
	}
	.staff-name {
		margin: 0 0;
		font-size: 16px;
		font-weight: 700;
		color: $color-blue;
		text-transform: uppercase;
	}
	.jobtitle {
		color: $color-grey;
		font-weight: 500;
		font-size: 14px;
		position: relative;
		top: -1px;
	}
	.staff-contact {
		margin-top: 2px;
		a {
			display: inline-block;
			border-radius: 100%;
			border: 1px solid $color-grey;
			color: $color-grey;
			font-size: 16px;
    		margin: 0 3px;
    		position: relative;
			width: 25px;
			height: 25px;
    		&.email {
    			font-size: 18px;
    		}
    		.icon {
				position: absolute;
				font-size: 13px;
				top: 5px;
				left: 5px;
    		}
    		&:hover {
    			color: #FFF;
    			background: $color-grey;
    			border-color: $color-grey;
    		}
		}
	}
	.buttondiv {
		margin-top: 6px;
	}
	.buttondiv a {
		cursor: pointer;
		display: inline-block;
		text-decoration: none;
		position: relative;
		font-size: 12px;
		font-weight: 600;
		line-height: 14px;
		color: $color-light-blue;
		text-transform: uppercase;
		border-bottom: 1px solid $color-light-blue;
		@include transition(all ease-out .3s);
		&:hover {
			opacity: 0.5;
		}
	}
}

.staff-detail-page {
	margin-top: 50px;
	margin-bottom: 50px;
	.entry-title {
		color: $color-blue;
		margin-bottom: 0;
		margin-top: 0;
	}
	.entry-content {
		color: $color-grey;
		font-weight: 300;
	}
	.staff-info {
		margin-bottom: 30px;
		@media screen and (min-width: $tabwidth) {
			width: 56%;
			float: left;
		}
		@media screen and (min-width: $midwidth) {
			width: 68%;
		}
	}
	.side-right {
		@media screen and (min-width: $tabwidth) {
			width: 38%;
			float: right;
		}
		@media screen and (min-width: $midwidth) {
			width: 28%;
		}
	}
	.staff-title {
		color: $color-grey;
		font-weight: 500;
	}
	.contactdiv,
	.staff-photo,
	.staff-photo img {
		width: 100%;
		float: left;
	}

	.staff-photo {
		border: 1px solid $color-subtle-grey;
		margin-bottom: 10px;
	}
	.staff-photo img {
		height: auto;
	}
	.contact,
	.contact a {
		font-size: 16px;
		@media screen and (min-width: $tabwidth) {
			font-size: 12px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 16px;
		}
	}
	.contact {
		color: $color-blue;
		font-weight: 500;
		line-height: 1.3;
		margin-top: 5px;
		position: relative;
		padding-left: 23px;
		.icon {
			position: absolute;
			top: 2px;
			left: 0;
			font-size: 14px;
			@media screen and (min-width: $tabwidth) {
				top: -1px;
				font-size: 12px;
			}
			@media screen and (min-width: $midwidth) {
				top: 2px;
				font-size: 14px;
			}
		}
	}
	.contact a {
		color: $color-blue;
		text-decoration: none;
	}
}
.screen-reader {
	display: none;
}
.text-container {
	color: #FFF;
	background: $color-grey;
	padding: 30px 0 15px;
}
h1.pagetoptitle {
	display: inline-block;
	z-index: 10;
	font-size: 30px;
	line-height: 1.2;
	color: #FFF;
	background: #184d7c;
	margin: 0 0;
	padding: 10px 45px 10px 40px;
	position: absolute;
	top: 0;
	left: 0;
	&:before {
		content:"";
		display: block;
		width: 113%;
		height: 100%;
		-webkit-transform: skew(-20deg); 
		-moz-transform: skew(-20deg); 
		-o-transform: skew(-20deg);
		transform: skew(-20deg);
		position: absolute;
		top: 0;
		left: -15px;
		background: rgb(0,110,201);
		background: -moz-linear-gradient(-45deg, rgba(0,110,201,1) 0%, rgba(0,137,206,1) 35%, rgba(40,60,104,1) 87%);
		background: -webkit-linear-gradient(-45deg, rgba(0,110,201,1) 0%,rgba(0,137,206,1) 35%,rgba(40,60,104,1) 87%);
		background: linear-gradient(135deg, rgba(0,110,201,1) 0%,rgba(0,137,206,1) 35%,rgba(40,60,104,1) 87%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ec9', endColorstr='#283c68',GradientType=1 );
	}
	span {
		font-style: italic;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		z-index: 5;
	}
}
.aboutContent {
	color: $color-grey;
}
.pp-intro-text {
	font-size: 25px;
	font-weight: 600;
	line-height: 1.4;
	color: $color-blue-text;
	.wrapper {
		padding: 20px 20px;
		@media screen and (min-width: $tabwidth) {
			padding: 2em 7em 1em;
		}
	}
}

.flexrow {
	position: relative;
	@include flexbox();
	@include flexbox-wrap(wrap);
	@include flexbox-direction(row);
	.fbox {
		box-sizing: border-box;
		position: relative;
	}
}
.pp-row2 {
	.flexrow {
		margin-left: -20px;
		margin-right: -20px;
	}
	.fbox {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
		}
	}
	.inside {
		padding: 20px 20px;
	}
	h3 {
		margin: 0 0 8px;
		font-size: 18px;
		line-height: 1.3;
		color: $color-blue-text;
		text-transform: uppercase;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			text-align: left;
		}
	}
}

.pp-row3 {
	margin-top: 20px;
	padding-bottom: 20px;
	h3.title {
		margin: 5px 0 15px;
		font-size: 18px;
		line-height: 1.3;
		color: $color-blue-text;
		text-transform: uppercase;
		position: relative;
		text-align: center;
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-align-items(center);
			text-align: left;
		}
		span {
			background: #FFF;
		}
		@media screen and (min-width: $tabwidth) {
			&:after {
				content:"";
				display: inline-block;
				width: 100%;
				height: 1px;
				background: #a8a8aa;
			}
			span {
				position: absolute;
				z-index: 5;
				padding-right: 12px;
			}
		}
	}
}
.values-info {
	width: 100%;
	float: left;
	.flexrow {
		margin-left: -20px;
		margin-right: -20px;
	}
	.vbox {
		width: 100%;
		margin: 0 0;
		@media screen and (min-width: $tabwidth) {
			margin: 0 0;
			width: 25%;
		}
	}
	.vinside {
		padding: 20px;
	}
	.icon {
		text-align: center;
		.image {
			display: inline-block;
			width: 90px;
			height: 90px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			@media screen and (min-width: $tabwidth) {
				width: 100px;
				height: 100px;
			}
			@media screen and (min-width: $midwidth) {
				width: 135px;
				height: 135px;
			}
		}
	}
	.vtitle {
		color: $color-blue-text;
		margin-bottom: 5px;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			text-align: left;
		}
	}
}
.timeline-section {
	position: relative;
	background-size: cover;
	background-color: #026da2;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 5%;
	padding-bottom: 10%;
	@media screen and (min-width: $deskwidth) {
		padding-bottom: 0;
	}
	.sctitle {
		margin: 0 0 10px;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 1.3;
	}
	.timelines-wrap {
		position: relative;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 25px;
		@media screen and (min-width: $midwidth) {
			padding-top: 16%;
			padding-bottom: 18%;
			padding-left: 0;
		}
		&:before {
			content:"";
			display: block;
			width: 1px;
			height: 100%;
			background: #FFF;
			position: absolute;
			top: 12px;
			left: 0;
			@media screen and (min-width: $midwidth) {
				display: none;
			}
		}
	}
	.hline {
		@media screen and (min-width: $midwidth) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include flexbox();
			@include flexbox-align-items(center);
			.line {
				display: inline-block;
				width: 100%;
				height: 1px; 
				background-color: #FFF;
				position: relative;
				&:before, &:after {
					content:"";
					display: block;
					width: 1px;
					height: 16px;
					background: #FFF;
					position: absolute;
					bottom: -7px;
				}
				&:before {
					left: 0;
				}
				&:after {
					right: 0;
				}
			}
		}
	}
	.noflexrow,
	.flexrow {
		position: relative;
		z-index: 10;
	}
	.overlay {
		width: 100%;
		height: 100%;
		background: rgba(0,120,180,.93);
		position: absolute;
		top: 0;
		left: 0;
	}
	.wrapper {
		position: relative;
		z-index: 5;
		color: #FFF;
	}
	.timeline_date {
		font-weight: bold;
		&:before {
			content:"";
			display: block;
			width: 20px;
			height: 1px;
			background: #FFF;
			position: absolute;
			top: 12px;
			left: -25px;
			@media screen and (min-width: $midwidth) {
				display: none;
			}
		}
	}
	.timeline_info {
		font-size: 13px;
		font-weight: 300;
	}
	.timeline {
		position: relative;
		margin-bottom: 25px;
		@include flexbox();
		@include flexbox-align-content(flex-end);
		@include flexbox-align-items(flex-end);
		@media screen and (min-width: $midwidth) {
			width: 22%;
			float: left;
			margin-bottom: 0;
			&.even {
				padding-left: 3%;
				padding-bottom: 10.5%;
				.tmwrap {
					position: absolute;
					bottom: 40%;
					padding-right: 15%;
				}
				.tmwrap:after {
					content:"";
					display: block;
					width: 1px;
					background: #FFF;
					position: relative;
				}
			}
			&.odd {
				padding-right: 8%;
				position: absolute;
				top: 60%;
				&:before {
					content:"";
					display: block;
					width: 1px;
					background: #FFF;
					position: absolute;
					top: 0;
				}
			}
			&.col2 {
				.tmwrap {
					&:after {
						height: 30px;
					}
				}
			}
			&.col4 {
				margin-left: 2%;
				.tmwrap {
					&:after {
						height: 60px;
					}
				}
			}
			&.col6 {
				margin-left: 8%;
				.tmwrap {
					&:after {
						height: 30px;
					}
				}
			}
			&.col8 {
				.tmwrap {
					&:after {
						height: 60px;
					}
				}
			}
			&.col1 {
				top: 50%;
				padding-top: 30px;
				&:before {
					height: 30px;
				}
			}
			&.col3 {
				left: 20%;
				padding-top: 60px;
				&:before {
					height: 60px;
				}
			}
			&.col5 {
				left: 40%;
				padding-top: 30px;
				&:before {
					height: 30px;
				}
			}
			&.col7 {
				left: 65%;
				padding-top: 60px;
				&:before {
					height: 60px;
				}
			}
			&.col9 {
				left: 85%;
				padding-top: 30px;
				&:before {
					height: 30px;
				}
			}
			
		}
	}
	.timeline:last-child {
		margin-bottom: 0;
	}
}

.partnership-section {
	.outerwrap {
		width: 100%;
		float: left;
	}
	.flexbox {
		position: relative;
		min-height: 22em;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
		}
	}
	.imagediv {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #333;
		position: absolute;
		top: 0;
		left: 0;
	}
	.intro {
		position: relative;
		z-index: 10;
		box-sizing: border-box;
		padding: 10% 10%;
		font-size: 1.5em;
		font-weight: bold;
		font-style: italic;
		line-height: 1.5;
		background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
		color: #FFF;
	}
	
	.inside {
		box-sizing: border-box;
		height: 100%;
		padding: 5% 10%;
		@media screen and (min-width: $tabwidth) {
			padding: 8% 10%;
		}
		@include flexbox();
		@include flexbox-align-items(center);
		strong {
			color: $color-blue-text;
		}
		ul {
			margin-left: 10px;
		}
	}
}

.team-group {
	margin: 0 0 10px;
}

h2.teamcat {
	color: $color-blue-text;
	margin: 0 0 20px;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.3;
	position: relative;
	text-align: center;
	span {
		display: inline-block;
		position: relative;
		background: #FFF;
		padding: 0 15px;
		z-index: 5;
	}
	&:after {
		content:"";
		display: block;
		width: 100%;
		height: 1px;
		background: $color-blue-text;
		position: absolute;
		top: 50%;
		left: 0;
	}
}
